#menu
{
	top: 30px;
	padding : 20px;
	text-align: center;
	position: fixed;
	width: 97%;
	height: 95px;
	background: rgb(133, 210, 255);
}
#imgattop{
	border-radius: 50%;
	top: 30px;
	float: right;
	height: 115px;
	width: 115px;
}
/* for menu */
div a:not(:last-child):after {
	content: "|";
	padding: 15px;
}
div a:hover:not(:last-child):after {
	content: "|";
	padding: 15px;
	color: blue;
}

/* for paragraph text */
div a:hover{
	color:aqua;
}
div a:active{
	color: blue;
}
div p::first-line{
	font-size: large;
	color: black;
}

/* each paragraph */
p, #qa{
	background-color:rgb(9, 114, 211);color:white;
	border: 2px solid powderblue;
	padding: 30px;
	margin: 40px;
}

/* for 'my photos' */
#photo{
	border: 1px solid rgb(221, 221, 221);
	border-radius: 8px;
	padding: 5px;
}

.container {
	position: relative;
	width: 50%;
	background-color:rgb(9, 114, 211);color:white;
	border: 2px solid powderblue;
	padding: 30px;
	margin: 40px;
}

/* fade photos */
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #008CBA;
}
.image {
	display: block;
	width: 100%;
	height: auto;
  }
/* change photo to background */  
  .container:hover .overlay {
	opacity: 0.7;
  }
 /* txt for photos */ 
  .txt {
	color: white;
	font-size: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  }

section{
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;

}

h1{
 color:aqua;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* textarea of form*/
.form-container textarea {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}
/* form's subject */
#subjectmail{
	min-height: 20px;
}

/* When the textarea gets focus */
.form-container textarea:focus {
  background-color: #4CAF50;
  outline: none;
}

/* Style for the submit button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Hover on buttons of chat */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



/* FOR EMOJIS */

  
  
  