#menu
{
	top: 30px;
	padding : 20px;
	text-align: center;
	position: fixed;
	width: 97%;
	height: 95px;
	background: rgb(133, 210, 255);
}
#img{
	top: 30px;
	float: left;
	height: 115px;
	width: 115px;
}
div a:not(:last-child):after {
	content: "|";
	padding: 15px;
}
div a:hover:not(:last-child):after {
	content: "|";
	padding: 15px;
	color: blue;
}

div a:hover{
	color:aqua;
}
div a:active{
	color: blue;
}
div p::first-line{
	font-size: large;
	color: black;
}

p {
	background-color:rgb(9, 114, 211);color:white;
	border: 2px solid powderblue;
	padding: 30px;
	margin: 40px;
  }
section{
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;

}
/* .split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
} */
/* .left {
	left: 0;
} 
.right {

	top: 10px;
	right: 0;
} */
/* .meter{
	background: none;
	box-shadow: 0 5px 5px -5px #333 inset;
} */




/* {box-sizing: border-box;} */

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}


/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* textarea of form*/
.form-container textarea {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

#mailadd{
	min-height: 20px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #4CAF50;
  outline: none;
}

/* Style for the submit button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Hover on buttons of chat */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#thanks{
	margin-top:25%;
	text-align:center;
}

#backtopage{
	background-color: #0bb8e4;
	margin-left:47%;
	cursor: pointer;
}